.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    color: #9B8816;
    font-size: 16px;
}


#modoPreparo {
    height: 10rem;
}

.form-control:focus, .form-select:focus {
    border-color: #317B22;
    box-shadow: 0 0 0 0.25rem rgba(49, 123, 34, 0.25);
}
.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-button {
    color: white;
    background-color: #9B8816;
    border: 1.5px solid #9B8816;
    font-size: 16px;
    border-radius: 50%;
    padding: 5px 13px;
    cursor: pointer;
    transition: 0.3s;
}
  
.form-button:hover{
    background-color: #BCA415;
    border-color: #BCA415;
}
.remove {
    color: white;
    background-color: #BC1515;
    border: 1.5px solid #BC1515;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 13px;
}

.remove:hover {
    background-color: #C03F3F;
    border-color: #C03F3F;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.ingredient-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.span-and-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}


.ingrediente  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 18px;
}


/* Responsive adjustments */
@media (min-width: 780px) {
    .form-container {
        padding: 30px;
    }
    .form-button {
        font-size: 18px;
    }
}

@media (max-width: 781px) {

    .ingrediente  {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 5px;
    }
}