<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>RecipeHub | Receitas </title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/core-img/load.svg}" />
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/css/perfil.css}" />
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img th:src="@{/img/core-img/load.svg}" alt="" />
</div>

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <form action="#" method="post">
                  <input
                    type="search"
                    name="search"
                    placeholder="Type any keywords..."
                  />
                  <button type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form> -->
            </div>
        </div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container container-menu">
                <!-- Menu -->
                <nav
                        class="classy-navbar justify-content-between"
                        id="deliciousNav"
                >
                    <!-- Logo -->
                    <a class="nav-brand" th:href="@{/}"
                    ><img th:src="@{/img/core-img/logo.svg}" alt=""
                    /></a>

                    <!-- Toggle -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span><span class="bottom"></span>
                            </div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a th:href="@{/}">Home</a></li>
                                <li>
                                <li>
                                    <a href="#">Categorias</a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{/receitas?categoria=DOCES}">Doces</a></li>
                                        <li><a th:href="@{/receitas?categoria=SALGADOS}">Salgados</a></li>
                                        <li><a th:href="@{/receitas?categoria=VEGETARIANO}">Vegetariano</a></li>
                                        <li><a th:href="@{/receitas?categoria=FRUTOS_DO_MAR}">Frutos do Mar</a></li>
                                        <li><a th:href="@{/receitas?categoria=PEIXES}">Peixes</a></li>
                                        <li><a th:href="@{/receitas?categoria=CARNES}">Carnes</a></li>
                                        <li><a th:href="@{/receitas?categoria=MASSAS}">Massas</a></li>
                                        <li><a th:href="@{/receitas?categoria=AVES}">Aves</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/receitas}">Receitas</a></li>

                                <!-- User Icon for desktop -->
                                <li>
                                    <a href="#">Conta</a>
                                    <!-- <img src="img/core-img/icon.jpeg" alt="User" class="user-photo-img"> -->
                                    <ul class="dropdown user-dropdown">
                                        <li><a th:href="@{/conta}">Visualizar</a></li>
                                        <li><a th:href="@{/logout}">Sair</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--<div class="receipe-post-area section-padding-80">-->
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">Yuki Hayashi</h5>
                            <h6 class="user-email">yuki@Maxwell.com</h6>
                        </div>
                        <div class="about">
                            <h5>About</h5>
                            <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <!-- Adicione th:disabled para cada campo de entrada -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" id="fullName" placeholder="Enter full name" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Email</label>
                                <input type="email" class="form-control" id="eMail" placeholder="Enter email ID" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Website URL</label>
                                <input type="url" class="form-control" id="website" placeholder="Website url" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Street</label>
                                <input type="name" class="form-control" id="Street" placeholder="Enter Street" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">City</label>
                                <input type="name" class="form-control" id="ciTy" placeholder="Enter City" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">State</label>
                                <input type="text" class="form-control" id="sTate" placeholder="Enter State" th:disabled="${not editar}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zIp">Zip Code</label>
                                <input type="text" class="form-control" id="zIp" placeholder="Zip Code" th:disabled="${not editar}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div
                    class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between"
            >
                <!-- Footer Social Info -->

                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a th:href="@{/}"
                    ><img th:src="@{/img/core-img/logo.svg}" alt=""
                    /></a>
                </div>
                <!-- Copywrite -->
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<script th:src="@{/js/recipe.js}"></script>
</body>
</html>
