<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>RecipeHub | Receitas </title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/core-img/load.svg}" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img th:src="@{/img/core-img/load.svg}" alt="" />
</div>

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <form action="#" method="post">
                  <input
                    type="search"
                    name="search"
                    placeholder="Type any keywords..."
                  />
                  <button type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form> -->
            </div>
        </div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container container-menu">
                <!-- Menu -->
                <nav
                        class="classy-navbar justify-content-between"
                        id="deliciousNav"
                >
                    <!-- Logo -->
                    <a class="nav-brand" th:href="@{/}"
                    ><img th:src="@{/img/core-img/logo.svg}" alt=""
                    /></a>

                    <!-- Toggle -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span><span class="bottom"></span>
                            </div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li>
                                <li>
                                    <a href="#">Categorias</a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{/receitas?categoria=DOCES}">Doces</a></li>
                                        <li><a th:href="@{/receitas?categoria=SALGADOS}">Salgados</a></li>
                                        <li><a th:href="@{/receitas?categoria=VEGETARIANO}">Vegetariano</a></li>
                                        <li><a th:href="@{/receitas?categoria=FRUTOS_DO_MAR}">Frutos do Mar</a></li>
                                        <li><a th:href="@{/receitas?categoria=PEIXES}">Peixes</a></li>
                                        <li><a th:href="@{/receitas?categoria=CARNES}">Carnes</a></li>
                                        <li><a th:href="@{/receitas?categoria=MASSAS}">Massas</a></li>
                                        <li><a th:href="@{/receitas?categoria=AVES}">Aves</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a th:href="@{/receitas}">Receitas</a></li>

                                <!-- User Icon for desktop -->
                                <li>
                                    <a href="#">Conta</a>
                                    <!-- <img src="img/core-img/icon.jpeg" alt="User" class="user-photo-img"> -->
                                    <ul class="dropdown user-dropdown">
                                        <li><a th:href="@{/conta}">Visualizar</a></li>
                                        <li><a th:href="@{/logout}">Sair</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- ##### Breadcumb Area Start ##### -->
<div
        class="breadcumb-area bg-img bg-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Receita</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">
    <!-- Receipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <form th:action="@{/receitas}" th:object="${pesquisa}" method="get">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <select th:field="*{categoria}" name="categoria" id="categoria">
                            <option value="DOCES">Doces</option>
                            <option value="SALGADOS">Salgados</option>
                            <option value="VEGETARIANO">Vegetariano</option>
                            <option value="FRUTOS_DO_MAR">Frutos do Mar</option>
                            <option value="PEIXES">Peixes</option>
                            <option value="CARNES">Carnes</option>
                            <option value="MASSAS">Massas</option>
                            <option value="AVES">Aves</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-6">
                        <input th:field="*{nome}" type="search" name="nome" placeholder="Nome da Receita"/>
                    </div>
                    <div class="col-12 col-lg-3 text-right">
                        <button type="submit" class="btn delicious-btn">
                            Pesquisar
                        </button>

                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- Recipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img th:src="@{/img/bg-img/bg5.jpg}" alt="" />
            </div>
        </div>
    </div>

    <!-- Receipe Content Area -->
    <div class="receipe-content-area" th:object="${receita}">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <span th:text="'Criado em ' + ${#temporals.format(receita.criadoEm, 'dd/MM/yyyy HH:mm:ss')} + ' por ' + ${receita.usuario.nome}"></span>
                        <h2 th:text="${receita.nome}"></h2>
                        <div class="receipe-duration">
                            <h6 th:text="${receita.descricao}"></h6>
                            <h6 th:text="'Categoria: '+ ${receita.categoria.descricao}"></h6>
                            <h6 th:text="'Tempo de preparo médio: ' + ${receita.tempoEmMinutos} + ' minutos'"></h6>
                            <h6 th:text="'Rendimento: ' + ${receita.porcoes} + ' porções'"></h6>
                        </div>
                    </div>
                </div>

                <div th:if="${receita.usuario.id != 1}" class="col-12 col-md-4">
                    <div class="receipe-ratings text-right my-5">
                        <div class="ratings">
                            <form th:action="@{'/receitas/' + ${receita.id} + '/favoritar'}" th:object="${pesquisa}" method="post">
                                <button type="submit" class="btn">
                                    <i th:classappend="${receita.favorito} ? 'selected' : ''" class="fa fa-star" aria-hidden="true" id="starIcon"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="single-preparation-step col-12 col-lg-8">
                    <h4>Modo de preparo</h4>
                    <div class="single-preparation-step d-flex">
                        <p th:text="${receita.modoPreparo}"></p>
                    </div>
                </div>

                <!-- Ingredients -->
                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Ingredientes</h4>

                        <!-- Custom Checkbox -->
                        <div class="custom-control custom-checkbox" th:each="ingrediente: ${receita.ingredientes}">
                            <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1"
                            />
                            <label class="custom-control-label" for="customCheck1"
                                   th:text="${ingrediente.ingrediente.nome} + ' - ' + ${ingrediente.quantidade} + ' ' +${ingrediente.medida.descricao}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div
                    class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between"
            >
                <!-- Footer Social Info -->
                <!-- <div class="footer-social-info text-right">
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div> -->
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a th:href="@{/}"
                    ><img th:src="@{/img/core-img/logo.svg}" alt=""
                    /></a>
                </div>
                <!-- Copywrite -->
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<script th:src="@{/js/recipe.js}"></script>
</body>
</html>
